body{
    background-color: cadetblue;
}

.titre{
    display: flex;
    justify-content: center;
}

/*menu de navigation*/

.navigation{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px;
}

h3{
    margin: 0;
}

nav ul{
    margin-bottom: 20px;
}
/*menu déroulant*/
nav ul{
    list-style: none;
}

.promotion{
    border: 2px;
    border-color: #000;
}

.annee-promo{
    display: none;
}

nav > ul li:hover .annee-promo{
    display: block;
}

/*menu déroulant*/

/*search bar*/
.search{
    min-width: 450px;
    max-height: 30px;
    border-radius: 50px;
}


/*search bar*/

/*profil checkbox*/
.profil .checkbox{
    padding-left: 10px;
}
/*profil checkbox*/

/*menu de navigation*/

/*zone des cartes*/

.card1{
    display: flex;
}
.sous-div{
    display: flex;
}
/*zone des cartes*/

/*mise en forme des cartes*/
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: 20px;
    width: 340px;
    height: 500px;
  }
.card-name-promo{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.lien-onglet{

    display: flex;
    justify-content: space-around;
}

.button-link{
    border-radius: 5px;
    background-color: #abaaaa;
}

.button-link:hover{
    background-color: #caa0ed;
    transition: 1s;
}

.image{
    display: flex;
    justify-content: center;
    align-items: center;
}


.lien-onglet a{
    text-decoration: none;
    margin-left: 10px;
    color: #000;
    display: flex;
    
}
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }
/*mise en forme des cartes*/

.hide{
    display: none;
}

.show{
    display: block;
}

footer{
    display: flex;
    justify-content: center;
}

/* media query*/



@media (max-width: 900px){
    .navigation{
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-content: space-around;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .sous-div{
        display: flex;
        flex-direction: column;
    }
    .search{
        min-width: 350px;
        max-height: 30px;
        border-radius: 50px;
    }
    .card1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .card {
        /* Add shadows to create the "card" effect */
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        margin-left: 20px;
        width: 230px;
        height: 100%;
      }
      .lien-onglet{
        max-width: 100%;
    }
}
@media (max-width: 1330px){

}  
/* media query*/